.pageContainer{
    min-height: 100vh;
    padding: 2rem 4rem;
}
.headContainer{
    display: flex;
    justify-content: space-between;
}
.headContainer_right > img{
  height: 400px;
  width: 400px;
}
.fullName{
    font-family: 'Roboto Mono', monospace;
    font-size: 5rem;
    margin: 0 0 -2rem 0;
}
.skills{
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5rem;
  color: #028672;
}
.type::after {
    content: '';
    animation: cursor 1s infinite step-start;
  }
  
  @keyframes cursor {
    50% {
      opacity: 0;
    }
  }

  @media screen and (min-width: 300px) and (max-width: 440px){
    .pageContainer{
      padding: 1rem 1rem;
    }
    .fullName{
      font-size: 1.2rem;
      margin: 0;
    }
    .skills{
      font-size: 1rem;
      line-height: 1px;
    }
    .headContainer_right{
      margin: 1rem 0;
    }
    .headContainer_right > img{
      height: 90px;
      width: 90px;
    }
  }