.moduleContainer{
    text-align: center;
    display: flex;
    justify-content:space-between;
    padding: 2rem 4rem;
}
.leftContainer{
    font-size: 18px;
}
.leftContainer > .links {
    opacity: 1;
}
.rightContainer{
    display: flex;
    gap: 25px;
    justify-content:space-evenly;
}
.links {
    text-decoration: none;
    color: #028672;
    opacity: 0.6;
    transition: all 400ms ease-in-out;
}
.abtMe :hover{
    opacity: 1;
}
.contact :hover{
    opacity: 1;
}