.main {
  height: 50vh;
  scroll-snap-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.header {
  left: -5rem;
  top: -1.5rem;
  width: 10rem;
  position: absolute;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 32px;
  color: var(--secondary-hover);
  text-shadow: 1px 1px var(--black);
  transition: all 0.8s ease-in-out;
}

.header_noshow {
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.distort {
  position: absolute !important;
  top: -12rem !important;
  height: 80vh !important;
  width: 60vw !important;
}

.node_element {
    position: absolute;
    top: -1.1rem;
    left: -1.1rem;
  transition: all 0.8s ease-in-out;
}
.node_element_noshow {
  opacity: 0;
}
.node_text{
    color: var(--white);
    font-weight: 500;
    margin-top: 0.4rem;
    position: absolute;
    left: -1rem;
}
.node_image{
    position: relative;
    width: 10rem;
}
