.moduleContainer{
    background-image: linear-gradient(#ffffff,#a7fff2);
    text-align: center;
    padding: 2rem 4rem;
    min-height: 2vh;
    color: #028672;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
}
.leftContainer{
    display: flex;
    gap: 25px;
}
.Icon > a{
    transition: all 400ms ease-in-out;
}
.Icon :hover{
    opacity: 0.6;
}